<h1>My tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= task.completed ? "[X]" : "[ ]" %> <%= link_to task.title, task_path(task.id) %>
    </li>
  <% end %>
</ul>

<%= link_to "Add a new task", tasks_new_path %>


